@using Model.Entities
@using WebGui.Areas.Identity.Controller
@inject CartState CartState
<div class="col mb-5">
<div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" src="img/oszidev.jpg" alt="..." />
    <!-- Product details-->
    <div class="card-body p-4">
        <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">@Article.Designation</h5>
            <!-- Product reviews-->
            <div class="d-flex justify-content-center small text-info mb-2">
                <p class="bi-star-fill">@Article.Description</p>
            </div>
            <!-- Product price-->
            @Article.Price €
        </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" onclick="@OnAdd">Add to cart</a></div>
    </div>
</div>
</div>

@code {
    [Parameter]
    public Article Article { get; set; }

    public void OnAdd()
    {
        Index.Cart.Add(Article);
        CartState.NotifyStateChanged();
    }
}